.footer__column-link_type_facebook {
	display: inline-block;
	background: url(../../../../images/facebook_color_white.svg) no-repeat left center;
	background-size: 16px;
	padding-left: 26px;
	vertical-align: bottom;
}
